$default_bg_color: rgb(0, 197, 144);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.vcenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#log-in-form {

    header {
        text-align: center;

        h1 {
            font-size: 20px;
            font-weight: bold;
        }

    }

    button {
        background: $default_bg_color;
        border: $default_bg_color / 1.5;
        font-weight: bold;
    }

    #auth-error {
        margin-top: 15px;
        margin-bottom: -15px;
    }

}

nav {

    ul {
        font-weight: bold;
    }

}

nav {
    margin-top: 10px;
}

.nav-tabs {
    text-align: center;

    li {
        display: inline-block;
        float: none;

        a {
            color: $default_bg_color;
        }

        span {
            margin-right: 6px;
        }

    }

    li.active {

        a:link, a:visited {
            color: $default_bg_color / 1.2;
        }

    }

}

#items-table_filter input, #transactions-table_filter input {
    border: 1px solid #777;
    border-radius: 5px;
}

#items-table_wrapper select, #transactions-table_wrapper select {
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 5px;
}

#item-error {
    margin-top: 15px;
}

.current {
    background: #eee !important;
    font-weight: bold !important;
}

.paginate_button:not(.current):not(.disabled):hover {
    background: #333 !important;
}

table {

    .btn-default {
        background: #eee !important;
    }

}
